---
import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPage from "@/components/SeoPage.astro";
import ProductCard1 from "../components/ProductCard1.astro";
import ProductCard2 from "../components/ProductCard2.astro";
import ProductCard3 from "../components/ProductCard3.astro";
import ProductCard4 from "../components/ProductCard4.astro";
import ProductCard5 from "../components/ProductCard5.astro";
import ProductCard6 from "../components/ProductCard6.astro";
import { getCollection } from "astro:content";

// Get all products from the content collection
const products = await getCollection("products");
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    {
      products.map((product) => (
        <div class="mb-3">
          <ProductCard1 product={product} />
        </div>
      ))
    }
  </div>
  <div>
    {
      products.map((product) => (
        <div class="mb-3">
          <ProductCard2 product={product} />
        </div>
      ))
    }
  </div>
  <div>
    {
      products.map((product) => (
        <div class="mb-3">
          <ProductCard3 product={product} />
        </div>
      ))
    }
  </div>
  <div>
    {
      products.map((product) => (
        <div class="mb-3">
          <ProductCard4 product={product} />
        </div>
      ))
    }
  </div>
  <div>
    {
      products.map((product) => (
        <div class="mb-3">
          <ProductCard5 product={product} />
        </div>
      ))
    }
  </div>
  <div>
    {
      products.map((product) => (
        <div class="mb-3">
          <ProductCard6 product={product} />
        </div>
      ))
    }
  </div>
</BaseLayout>
